In [2]:
fruits =["apple", "orange", "banana", "cocount"]
print(fruits[0])  # apple
print(fruits[3])  # orange     
print(fruits[:3])

apple
cocount
['apple', 'orange', 'banana']

In [5]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
print(len(fruits))

4

In [9]:
fruits[0] = "kiwi"

In [11]:
"apple" in fruits

False

In [12]:
fruits.append("grape")

In [13]:
print(fruits[1:3])

['orange', 'banana']

In [15]:
print(fruits[::])

['kiwi', 'orange', 'banana', 'cocount', 'grape']

In [16]:
fruits.append("grape")

In [17]:
fruits.remove("kiwi")

In [18]:
print(fruits[::])  # Reverse the list

['orange', 'banana', 'cocount', 'grape', 'grape']

In [19]:
fruits.insert(3,"pineapple")

In [20]:
print(fruits[::])

['orange', 'banana', 'cocount', 'pineapple', 'grape', 'grape']

In [22]:
fruits.pop(2)

'cocount'

In [25]:
fruits.sort()

In [26]:
print(fruits[::])# ['orange', 'banana']

['banana', 'grape', 'grape', 'orange', 'pineapple']

In [28]:
fruits.reverse()

In [29]:
print(fruits[::])

['pineapple', 'orange', 'grape', 'grape', 'banana']

In [30]:
fruits.clear()

In [31]:
print(fruits[::])

[]

In [33]:
if "banana" in fruits:
	print(fruits.index("banana"))  # Find the index of "banana"
else:
	print("'banana' is not in the list")

'banana' is not in the list

In [34]:
list1 =[1,2,3,4,[5,6]]

In [35]:
print(1 in list1)  # True

True

In [38]:
print(list1[1:5])  # [2, 3, 4, [5, 6]]

[2, 3, 4, [5, 6]]

In [39]:
print(4 in list1)  # True

True

In [41]:
print(5 in list[4])# False

False

In [42]:
list=[1,2,3,[4,5,[6,7,8],9]]

In [44]:
print(list[3])

[4, 5, [6, 7, 8], 9]

In [45]:
print(list[3][2])  # [6, 7, 8]

[6, 7, 8]

In [46]:
print(list[3][2][1])# 8

7

In [47]:
squares = [x**2 for x in range(1,6)]

In [48]:
print(squares)

[1, 4, 9, 16, 25]

In [49]:
words = ["hello", "world", "python"]
uppercased =[word.upper() for word in words]

In [50]:
print(uppercased)  # ['HELLO', 'WORLD', 'PYTHON']

['HELLO', 'WORLD', 'PYTHON']

In [57]:
fruits = {"apple", "orange", "banana", "kiwi","kiwi", "kiwi"}

In [60]:
print(fruits)

{'kiwi', 'apple', 'orange', 'banana'}

In [54]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [61]:
fruits.remove("kiwi")

In [62]:
fruits.pop()

'apple'

In [63]:
print(fruits)

{'orange', 'banana'}

In [64]:
superheroes = ["sperman"," batman", "ironman", "hulk", "spiderman"]

In [65]:
superheroes.remove("a")

ValueError: list.remove(x): x not in list

In [ ]:

	# Remove "batman" from the superheroes list if it exists
	if "batman" in superheroes:
		superheroes.remove("batman")

AttributeError: 'list' object has no attribute 'dicard'

In [68]:
fruits = ("apple", "mango", "mango")

In [69]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [70]:
len(fruits)  # Length of the tuple

3

In [71]:
print(fruits.index("mango"))  # Index of "mango" in the tuple

1

In [73]:
newTuple = ("kiwi", "banana", "orange")

In [76]:
y= ("watermelon", "grape")

In [77]:
newTuple +=y

In [80]:
print(newTuple)

('kiwi', 'banana', 'orange', 'watermelon', 'grape')

In [88]:
fruits = ["apple", "banana", "cherry"]
(green,yellow,red) =fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [93]:
fruits = ["apple", "banana", "cherry", "kiwi"]
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(*red)

apple
banana
cherry kiwi

In [96]:
t = (1,2, (3,4), ['a', 'b'])

In [ ]:
fruits = ("aplle")
list1fruits)

TypeError: 'list' object is not callable

In [99]:
list = [1, 'hello' , 3.14, True]
tuple = (1, 'hello', 3.14, True)
set = (1,'hello, 3.14,True)

SyntaxError: unterminated string literal (detected at line 3) (1209844642.py, line 3)

In [101]:
fruits = ["apple", "banana", "orange", "kiwi"]
if "banana" in fruits:
    print("Yes, 'banana' is in the list")   
else:
    print("No, 'banana' is not in the list")

Yes, 'banana' is in the list

In [ ]:
i =0;
while i < len(fruits):
    print(fruits[i])
    i += 1
    print(fruits*2)

apple
banana
orange
kiwi
['apple', 'banana', 'orange', 'kiwi', 'apple', 'banana', 'orange', 'kiwi']

In [106]:
print(fruits*2)

['apple', 'banana', 'orange', 'kiwi', 'apple', 'banana', 'orange', 'kiwi']

In [110]:
student = {
    1: 'first',
    "name": "subhash",
    "age" : 20,
    "Courses" : ["Math","Sciences"]

}
print(student["age"])
print(student.get("name"))

20
subhash

In [ ]:
print(student.get("age"))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3778004594.py, line 1)

In [117]:
print(dir(student))
print(student.keys())
print(help(student.keys))
print(student.values())     
student = dict(name="subhash", age=20, city="lndon")

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
dict_keys(['name', 'age', 'city'])
Help on built-in function keys:

keys() method of builtins.dict instance
    Return a set-like object providing a view on the dict's keys.

None
dict_values(['subhash', 20, 'lndon'])

In [116]:
students = ["subhash", "job", "suresh"]
print(students[0])  # subhash

subhash

In [118]:
del student["age"]  # Remove the key "age"

In [ ]:
if "subhash.values():
    print("subhash is in the student values")
else:
    print("subhash is not in the student values")

SyntaxError: unterminated string literal (detected at line 1) (1260191563.py, line 1)

for key in student:
    print(key)
for value in student.values():
    Print(value)
for key, value in student, item():
    print(key, value)

In [122]:
students = {
    "student1": {"name": "subhash", "age": 20},
    "student2": {"name": "job", "age": 22},
}
print(students["student1"]["name"])  # subhash
print(students["student2"]["age"])   # 22

subhash
22

In [123]:
squares = {x: x*x for x in range(5)};
print(squares)  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}